body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
}

#menu li,#footer-menu li {
	float: left;
	margin-left: 20px;
	list-style: none;
}

#header {
	overflow: hidden;
}

#footer: {
	overflow: hidden;
}

#footer-menu, #logo-footer {
	height: 60px;
}

#footer-menu {
	padding: 20px 120px;
}

#logo-img {
	font-size: 30px;
	text-align: center;
	margin: 10px 0;
	padding-right: 1px;
}




