.menu {
	
}

.menu li {
	float: left;
	font-weight: bold;
	text-transform: uppercase;
}

.menu a {
	color: #ecf0f1;
	display: block;
	padding:0 2rem;
	text-decoration: none;
	line-height: 6rem;
}

.menu a:hover {
	background-color: #3498db;
}

.mobile-menu li {
	float: none;
	background: #0000ff;
}
