@import url(menu.css);

html {
	font-size: 10px;
}

a {
	color: #fff;
}

body {
	font-size: 1.6rem;
}

wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

img {
	max-width: 100%;
	height: auto;
}

.header,
.header-mobile {
	background: #0000ff;
	height: 6rem;
}

.search {
	margin-top: 1.5rem;
}

.search input {
	float: left;
	border: 0.1rem solid #ecf0f1;
	padding: 0.5rem;
	font-size: 1.2rem;
	height: 3rem;
	width: calc(100%-3rem);
}

.search button {
	float: left;
	border: 0.1rem solid #ecf0f1;
	padding: 0.5rem;
	font-size: 1.2rem;
	height: 3rem; 
	width: 3rem;
}

.slider {
	background: url(/img/img.jpg) center no-repeat;
	height: 50rem;
	background-size: cover;
}

.yellow {
	background: #f39c12;
}

.blue {
	background: #3498db;
}

.block {
	height: 25rem;
}

.block p {
	color: #ecf0f1;
	font-weight: bold;
	font-size: 5rem;
	text-align: center;
	line-height: 25rem;
}

.slider-wrapper {
	margin: 2rem 0;
}

.mobile-search-icon {
	float: right;
	color: #fff;
	font-size: 2rem;
	margin-right: 1rem;
	margin-top: 1.5rem;
}

.mobile-nenu-icon {
	color: #fff;
	float: left;
	font-size: 3rem;
	margin-left: 1rem;
	margin-top: 1rem;
}

.mobile-menu {
	padding: 0;
	display: none;
}

.header-mobile {
	display: none;
}

.mobile-search {
	display: none;
}

.mobile-search {
	background: #0000ff;
}

.mob-search input {
	float: left;
	border: 0.1rem solid #ecf0f1;
	padding: 0.5rem;
	font-size: 1.2rem;
	height: 3rem;
	width: 90%;
}

.mob-search button{
	float: left;
	border: 0.1rem solid #ecf0f1;
	padding: 0.5rem;
	font-size: 1.2rem;
	height: 3rem; 
	width: 10%;
}

.buy {
	background: #0000ff;
	font-weight: bolder;
	color: #fff;
	border-radius: 1rem;
	border: none;
	padding: 1rem 1rem;
	margin-top: 5rem;
	margin-bottom: 5rem;
}

footer {
	
	background: #0000ff;
	color: #fff;
	font-weight: bold;
	height: 6rem;
	text-align: center;
	padding-top: 2rem;
}

@media only screen and (max-width: 768px) {
	[class*=col-]  {
		width: 100%;
	}
	
	.header {
		display: none;
	}
	
	.mobile-menu:target {
		display: block;
	}
	
	.header-mobile {
		display: block;
	}
	
	.mobile-search:target {
		display: block;
		padding-bottom: 1rem;
	}
}

@media only screen and (min-width: 768px) and (max-width: 992px)  {
	
	.header {
		display: none;
	}
	
	.mobile-menu:target {
		display: block;
	}
	
	.header-mobile {
		display: block;
	}
	
	.mobile-search:target {
		display: block;
		padding-bottom: 1rem;
	}
	
	.col-sm-1 { width: 8.33333333333% ;} 
	.col-sm-2 { width: 16.6666666667% ;}
	.col-sm-3 { width: 25% ;} 
	.col-sm-4 { width: 33.3333333333% ;} 
	.col-sm-5 { width: 41.6666666667% ;} 
	.col-sm-6 { width: 50%;} 
	.col-sm-7 { width: 58.3333333333% ;} 
	.col-sm-8 { width: 66.6666666667% ;} 
	.col-sm-9 { width: 75% ;} 
	.col-sm-10 { width: 83.3333333333% ;} 
	.col-sm-11 { width: 91.6666666667% ;} 
	.col-sm-12 { width: 100% ;}
	
}



